# this file shouldnt contain values, i put here for easier testing

PORT=8888

MONGO_URI=mongodb+srv://xcloud-admin:test-password@xcloud.qz7nc.mongodb.net/99techteam

JWT_SECRET_KEY=make99techteamgreateagain
JWT_LIFE_TIME=7d